.footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #3B82F6;
  padding: 80px 0;
  
  a {
    font-size: 17px;
  }

  a,
  h3 {
    color: $secondary-color;
  }

  .logo-div {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
      position: absolute;
      right: 0;
      bottom: -22px;
    }

    a {
      position: relative;
      top: 118px;
      border-color: #fff;
      background-color: #fff;
      color: #01B4E4;
      font-size: 1.3em;
      font-weight: bold;
      display: inline-block;
      word-wrap: break-word;
      white-space: normal;
      border-radius: 5px;
    }
  }

  .mr {
    margin-right: 40px;
  }
}

.tmdb-footer-logo {
  width: 130px;
}
.footer-title {
  font-weight: bold;
  font-size: 17px !important;
  margin-bottom: 4px;
  white-space: nowrap;
  color: $secondary-color;
}